.violet, a.violet:link, a.violet:visited, a.violet:hover, a.violet:active {color:#4D4D98; }
.violet02, a.violet02:link, a.violet02:visited, a.violet02:hover, a.violet02:active {color:#323276; }
.ht, a.ht:link, a.ht:visited, a.ht:hover, a.ht:active {color:#FF7800; font-size:14px; }
.or, a.or:link, a.or:visited, a.or:hover, a.or:active {color:#FF4E00;}

/*title*/
.title {height:23px; margin-bottom:18px; background:url(images/gunbound/tit_bg.gif) repeat-x 0 bottom; }
.title02 {height:23px; margin-bottom:10px; background:url(images/gunbound/tit_bg.gif) repeat-x 0 bottom; }
.title03 {height:23px; background:url(images/gunbound/tit_bg.gif) repeat-x 0 bottom; }
.title_exp {}
.title_exp02 {text-align:right; clear:both; }
.title_exp03 {clear:both; }
.title_exp03 .image {float:right; margin-top:5px }
.subtitle {height:20px; margin-top:19px; }
.subtitle a {float:right; margin-top:5px}
.subtitle02 {height:20px; margin-top:30px; }
.subtitle03 {height:20px; margin-top:14px; background:url(images/gunbound/bu_arw02.gif) no-repeat 0 4px; font-size:13px; font-weight:bold; color:#131357; padding-left:12px; }
.subtitle04 {height:23px; margin-top:14px; background:url(images/gunbound/bu_arw02.gif) no-repeat 0 4px; font-size:13px; padding-left:12px; }

/*ranking*/
.rank_top2 {height:140px; background:url(images/gunbound/ranking_top2.gif) no-repeat; margin-bottom:16px; position:relative; }
.rank_top2 .fst {position:absolute; top:39px; left:20px; }
.rank_top2 .scd {position:absolute; top:46px; left:354px; }
.rank_top2 .fstname {font-size:13px; font-weight:bold; color:#FF6000; }
.rank_top2 .scdname {font-size:10px; font-weight:bold; color:#FF6000; }
.rank_top2 .ranknum {font-size:13px; font-weight:bold; color:#464646; }
.rank300 {text-align:center; }
.ranksch {height:36px; background:url(images/gunbound/box_sch.gif) no-repeat; padding-top:8px; margin-bottom:16px; text-align:center; }
.rankhometeam {height:67px; background:url(images/gunbound/box07.gif) no-repeat; }
.rankmonth {height:19px; text-align:right; padding-right:10px; font-size:10px; font-weight:bold; }
.leveltitle {margin-top:28px; padding:0 0 9px 7px; font-weight:bold; }
.leveltitle img {float:left; }
.rank_pgnavi_t {background:url(images/gunbound/rank_pgnavi_t.gif) no-repeat; height:8px; }
.rank_pgnavi_m {background:url(images/gunbound/rank_pgnavi_m.gif) repeat-y; }
.rank_pgnavi_b {background:url(images/gunbound/rank_pgnavi_b.gif) no-repeat; height:8px; }
.rank_pgnavi_box {float:left; width:83px; padding:5px 0; background:url(images/gunbound/rank_pgnavi_box.gif) no-repeat; text-align:center; font-size:9px; color:#878273; font-weight:bold; }


/*ranking list*/
table.ranklist {width:573px; margin-bottom:21px; }
table.ranklist th {border-top:1px solid #BCBCBC; border-bottom:1px solid #BCBCBC; background:#F5F5F5; height:25px; padding-top:5px; font-size:9px; color:#757575; font-weight:bold; }
table.ranklist th.h02 {border-top:1px solid #BCBCBC; border-bottom:1px solid #BCBCBC; background:#F5F5F5; height:25px; padding-top:8px; font-size:9px; color:#757575; font-weight:bold; }
table.ranklist tr.list01 {height:27px; background:url(images/common/sq_gray01.gif) repeat-x 0 bottom; }
table.ranklist tr.list02 {height:27px; background:#F7F7F7 url(images/common/sq_gray01.gif) repeat-x 0 bottom; }
table.ranklist tr.listbtm {height:27px; background:#F7F7F7 url(images/common/sq_gray03.gif) repeat-x 0 bottom; }
table.ranklist td.rank {font-size:11px; letter-spacing:-1px; font-weight:bold; }
table.ranklist td.rankup {color:#006CE6; font-size:9px; text-align:center; }
table.ranklist td.rankdown {color:#FF3000; font-size:9px; text-align:center; }
table.ranklist td.ranksame {color:#909090; font-size:9px; text-align:center; }
table.ranklist td.txt {text-align:center; }
table.ranklist td.num {text-align:center; font-size:9px; }
table.ranklist img.no {margin:0 0 0 10px; width:16px; height:13px; }
table.ranklist img.updown {margin:0 2px 1px 0; width:7px; height:4px; }
table.ranklist img.flag {margin:0 6px -2px 5px; width:20px; height:13px; }
table.ranklist img.char {margin:5px 8px 7px 5px; width:35px; height:32px; vertical-align:middle}
table.ranklist img.guild {margin:0 8px 0 0; width:25px; height:15px; vertical-align:middle}

/* creat ID / my infomation */
.formlist {width:573px; }
.formlist_l {background:url(images/common/bu_arw08.gif) no-repeat 2px center; color:#7F7F7F; font-weight:bold; padding-left:10px;	}
.formlist_l02 {color:#7F7F7F; font-weight:bold; padding-left:10px;	}
.formlist_l03 {background:url(images/common/bu_arw08.gif) no-repeat 2px center; color:#7F7F7F; padding-left:10px;	}
.wininfo_t {width:281px; background:url(images/common/c_box13_t.gif) no-repeat; height:5px; overflow:hidden; }
.wininfo_b {width:281px; background:url(images/common/c_box13_b.gif) no-repeat 0 bottom; padding-bottom:5px}
.hometeam {background:url(images/gunbound/box062.gif) no-repeat; height:121px; margin-bottom:15px; position:relative; }
.hometeam .youare {position:absolute; top:13px; left:15px; font-weight:bold; color:#595959; }
.hometeam .htrank {position:absolute; top:62px; right:314px; font-size:24px; color:#FFA800; text-align:right; }
.hometeam .htmember {position:absolute; top:62px; right:28px; font-size:24px; color:#FFA800; text-align:right; }

/*gameguide*/
.guidedot {background:url(images/common/bu_dot06.gif) repeat-x 0 center; font-size:0; }
.guidetxt01 {color:#4D4D98; font-weight:bold; margin:5px 0 15px 0; }
.guidemobile_tit {padding-bottom:5px}
.guidemobile_tit02 {padding:0 0 5px 6px; }
.guidemobile_txt {padding:0 0 12px 7px; line-height:1.5}
.guidemobile_txt02 {padding:0 0 12px 13px; line-height:1.5}
.guidemobile_box {width:282px; height:224px; background:url(images/gunbound/guide0404_box.gif) no-repeat; }
.guidemobile_box02 {width:282px; height:279px; background:url(images/gunbound/guide0404_box2.gif) no-repeat; }
.itembox_t {background:url(images/gunbound/box05_t.gif) no-repeat; height:11px; overflow:hidden}
.itembox_m {background:url(images/gunbound/box05_m.gif) repeat-y; }
.itembox_b {background:url(images/gunbound/box05_b.gif) no-repeat; height:11px; overflow:hidden; margin-bottom:10px}
.itembox_t02 {background:url(images/gunbound/box05_t02.gif) no-repeat; height:11px; overflow:hidden}
.itembox_m02 {background:url(images/gunbound/box05_m02.gif) repeat-y; }
.itembox_b02 {background:url(images/gunbound/box05_b02.gif) no-repeat; height:11px; overflow:hidden; margin-bottom:5px}

/*avatarshop*/
.iconbox {background:url(images/gunbound/box01.gif) no-repeat 0 center; height:55px; margin-bottom:5px}
.iconbox_exp {margin:0 0 0 16px; }
.iconbox_exp dt {background:url(images/gunbound/bu_arw01.gif) no-repeat 0 4px; padding:0 0 3px 7px; font-weight:bold; }
.iconbox_exp dd {padding-left:7px; }
.gotobox {background:url(images/gunbound/box02.gif) no-repeat 0 center; height:55px; }
.orderbox {background:url(images/gunbound/box03.gif) no-repeat 0 center; height:33px; margin-bottom:20px; }
.avatarbox {background:url(images/gunbound/box04.gif) no-repeat 0 center; height:161px; margin-bottom:10px; }
.avatartxt {color:#4D4D98; font-weight:bold; margin:0 7px 0 2px; }
.avatarfield {font-weight:bold; background:url(images/gunbound/bu_arw01.gif) no-repeat 3px 5px; padding-left:10px; }

/*guildlist*/
.guildlist {width:573px; margin-bottom:21px; }
.guildlist th {border-top:1px solid #BCBCBC; border-bottom:1px solid #BCBCBC; background:#F5F5F5; height:25px; padding-top:7px}
.guildlist tr.list01 {height:27px; background:url(images/common/sq_gray01.gif) repeat-x 0 bottom; }
.guildlist tr.list02 {height:27px; background:#F7F7F7 url(images/common/sq_gray01.gif) repeat-x 0 bottom; }
.guildlist tr.listbtm {height:27px; background:#F7F7F7 url(images/common/sq_gray03.gif) repeat-x 0 bottom; }
.guildlist td.guildmark {text-align:center; padding:6px 0; }
.guildlist td.guildinfo {padding:6px 0 8px 0; }
.guildlist td.guildinfo p.intro {background:url(images/gunbound/bu_arw01.gif) no-repeat 0 4px; padding-left:7px; margin-top:4px; }
.guildlist td.num {text-align:center; font-size:9px; font-weight:bold; color:#7F7F7F; }
.guildlist td.link a {text-align:center; font-size:10px; color:#4D4D98; text-decoration:underline; }


/*content tab*/
#ctabbox {background:url(images/gunbound/box_tab.gif) no-repeat 0 center; height:30px; margin-bottom:10px; position:relative; }
#ctabbox_bora {background:url(images/gunbound/box_tab_bora.gif) no-repeat 0 center; height:30px; margin-bottom:10px; position:relative; }
#ctab {position:absolute; list-style:none; height:25px; display:inline; overflow:hidden; left:4px; top:5px; }
#ctab li {display:inline; list-style-type:none;}
#ctab a {float:left; height:25px; font-size:0; margin:0 3px 0 2px}
#ctab a:hover {background-position: 0 -25px}
#ctab a.selected, #ctab a.selected:hover{background-position: 0 -25px}
#avatarshop01 a {width:45px;	background:url(images/gunbound/tab_avatar01.gif) top left no-repeat; text-indent:-9000px; }
#avatarshop02 a {width:55px;	background:url(images/gunbound/tab_avatar02.gif) top left no-repeat; text-indent:-9000px; }
#avatarshop03 a {width:51px;	background:url(images/gunbound/tab_avatar03.gif) top left no-repeat; text-indent:-9000px; }
#avatarshop04 a {width:61px;	background:url(images/gunbound/tab_avatar04.gif) top left no-repeat; text-indent:-9000px; }
#avatarshop05 a {width:60px;	background:url(images/gunbound/tab_avatar05.gif) top left no-repeat; text-indent:-9000px; }
#avatarshop06 a {width:78px;	background:url(images/gunbound/tab_avatar06.gif) top left no-repeat; text-indent:-9000px; }
#avatarshop07 a {width:56px;	background:url(images/gunbound/tab_avatar07.gif) top left no-repeat; text-indent:-9000px; }
#avatarshop08 a {width:50px;	background:url(images/gunbound/tab_avatar08.gif) top left no-repeat; text-indent:-9000px; }
#avatarshop09 a {width:44px;	background:url(images/gunbound/tab_avatar09.gif) top left no-repeat; text-indent:-9000px; }

#avatartrade01 a {width:47px;	background:url(images/gunbound/tab_avatartrade01.gif) top left no-repeat; text-indent:-9000px; }
#avatartrade02 a {width:50px;	background:url(images/gunbound/tab_avatartrade02.gif) top left no-repeat; text-indent:-9000px; }
#avatartrade03 a {width:46px;	background:url(images/gunbound/tab_avatartrade03.gif) top left no-repeat; text-indent:-9000px; }

#guideinstall01 a {width:170px;	background:url(images/gunbound/tab_guideinstall01.gif) top left no-repeat; text-indent:-9000px; }
#guideinstall02 a {width:139px;	background:url(images/gunbound/tab_guideinstall02.gif) top left no-repeat; text-indent:-9000px; }
#guideinstall03 a {width:103px;	background:url(images/gunbound/tab_guideinstall03.gif) top left no-repeat; text-indent:-9000px; }

#guidemobiles01 a {width:77px;	background:url(images/gunbound/tab_guidemobiles01.gif) top left no-repeat; text-indent:-9000px; }
#guidemobiles02 a {width:111px;	background:url(images/gunbound/tab_guidemobiles02.gif) top left no-repeat; text-indent:-9000px; }
#guidemobiles03 a {width:127px;	background:url(images/gunbound/tab_guidemobiles03.gif) top left no-repeat; text-indent:-9000px; }
#guidemobiles04 a {width:135px;	background:url(images/images/gunbound/tab_guidemobiles04.gif) top left no-repeat; text-indent:-9000px; }

#guideabout01 a {width:135px;	background:url(images/gunbound/tab_guide_0101.gif) top left no-repeat; text-indent:-9000px; }
#guideabout02 a {width:127px;	background:url(images/gunbound/tab_guide_0102.gif) top left no-repeat; text-indent:-9000px; }

#guideplay01 a {width:108px;	background:url(images/gunbound/tab_guide_0301.gif) top left no-repeat; text-indent:-9000px; }
#guideplay02 a {width:82px;	background:url(images/gunbound/tab_guide_0302.gif) top left no-repeat; text-indent:-9000px; }
#guideplay03 a {width:130px;	background:url(images/gunbound/tab_guide_0303.gif) top left no-repeat; text-indent:-9000px; }

#ranking_htl a {width:206px;	background:url(images/gunbound/tab_ranking_htl.gif) top left no-repeat; text-indent:-9000px; }
#ranking_htp a {width:206px;	background:url(images/gunbound/tab_ranking_htp.gif) top left no-repeat; text-indent:-9000px; } 
#ranking_level01 a {width:119px;	background:url(images/gunbound/tab_ranking_level01.gif) top left no-repeat; text-indent:-9000px; } 
#ranking_level02 a {width:185px;	background:url(images/gunbound/tab_ranking_level02.gif) top left no-repeat; text-indent:-9000px; } 



/*gameguide howtoplay tab*/
#ctabbox02 {background:url(images/gunbound/box_tab02.gif) no-repeat 0 center; height:50px; margin-bottom:10px; position:relative; }
#ctab02 {position:absolute; list-style:none; height:42px; display:inline; overflow:hidden; left:4px; top:8px; }
#ctab02 li {display:inline; list-style-type:none;}
#ctab02 a {float:left; height:42px; font-size:0; margin:0 3px 0 2px}
#ctab02 a:hover {background-position: 0 -42px}
#ctab02 a.selected, #ctab02 a.selected:hover{background-position: 0 -42px}

#guidehowto01 a {width:58px;	background:url(images/gunbound/tab_guidehowto01.gif) top left no-repeat; text-indent:-9000px; }
#guidehowto02 a {width:107px;	background:url(images/gunbound/tab_guidehowto02.gif) top left no-repeat; text-indent:-9000px; }
#guidehowto03 a {width:107px;	background:url(images/images/gunbound/tab_guidehowto03.gif) top left no-repeat; text-indent:-9000px; }
#guidehowto04 a {width:84px;	background:url(images/gunbound/tab_guidehowto04.gif) top left no-repeat; text-indent:-9000px; }
#guidehowto05 a {width:84px;	background:url(images/gunbound/tab_guidehowto05.gif) top left no-repeat; text-indent:-9000px; }
#guidehowto06 a {width:84px;	background:url(images/gunbound/tab_guidehowto06.gif) top left no-repeat; text-indent:-9000px; }


/*guild home*/
#guildhome_l {float:left; width:424px; }
#guildhome_r {float:left; width:162px; margin-left:9px; }
.hsgh {padding-left:10px; } /*history guild home*/
.ghtitle {height:23px; padding-left:10px; }
.ghsubtitle {margin-top:15px; }
.ghtop {margin:7px 0 15px 0; float:left; }
.ghtop .ghimg {float:left; margin-right:10px;}
.ghtop .ghintro {width:245px; float:left; margin-top:4px; color:#414141; font-size:10px; }
.ghtop .ghintro .tit {font-weight:bold; color:#8F8F8F; font-size:14px; margin-bottom:5px; }
.ghmessage th {border-top:1px solid #BCBCBC; border-bottom:1px solid #BCBCBC; background:#F5F5F5; height:25px; padding-top:7px}
.ghmessage .date {color:#828282; font-size:9px; font-weight:bold; text-align:center; }
.ghschbox {background:url(images/gunbound/gh_schbox.gif) top left no-repeat; height:53px; font-size:9px; color:#7B7B7B; text-align:center; padding-top:8px}
.ranking10 {border:1px solid #E0E0E0; width:422px; margin:0 auto; padding:4px 0; }
.ranking10 td {font-size:10px; }
.ranking10 .dotline {background:url(images/common/bu_dot05.gif) repeat-x; }
a.ghguildname {background:url(images/gunbound/bu_arw01.gif) no-repeat 0 center; font-weight:bold; color:#4D4D98; padding-left:8px; }
#gotoguild {margin:7px 0 17px 0; }
.ghrlist_tit {width:162px; height:17px; margin-top:7px; }
.ghrlist_tit h3 {display:none; }
.ghrlist_tit a {float:right; margin-right:4px; }
.guildrecruit {background:url(images/gunbound/rtit_guildrecruit.gif) no-repeat; }
.announcement {background:url(images/gunbound/rtit_announcement.gif) no-repeat; }
.newguilds {background:url(images/gunbound/rtit_newguilds.gif) no-repeat; }
.ghrlist {margin-top:5px; }
.ghrlist li {background:url(images/common/bu_arw20.gif) 2px 5px no-repeat; height:18px; padding-left:9px; font-size:9px; }
/*guild home login */
#signin {width:162px; height:124px; background:url(images/gunbound/gh_signin.gif) no-repeat; position:relative; }
#signin .in {position:absolute; top:23px; left:32px; }
#signin .up {position:absolute; top:86px; left:0; width:167px; text-align:center; font-size:9px; }
#signin .in a, #signin .up a {font-weight:bold; text-decoration:underline; }
#signin_af {width:162px; background:url(images/gunbound/gh_signin02_t.gif) no-repeat; position:relative; }
#signin_af .hi {color:#4F4F4F; line-height:1.4; text-align:left; padding:9px 0 14px 11px; }
#signin_af .myguildtit {width:142px; margin-left:10px; padding:5px 0 5px 1px; border-bottom:1px solid #E5E5E5; font-size:9px; color:#4F4F4F; }
#signin_af .myguildlist {margin:5px 0 10px 10px; width:148px;  }
#signin_af .myguildlist li {background:url(images/common/bu_arw20.gif) 0 6px no-repeat; padding:0 0 3px 7px; font-size:10px; color:#7F7F7F; }
#signin_af .yet {font-size:9px; color:#4F4F4F; padding:19px 0; text-align:center; }
#signin_afb {height:12px; background:url(images/gunbound/gh_signin02_b.gif) no-repeat; }

/*content box*/
.cbox06_t {background:url(images/gunbound/box06_t.gif) no-repeat; height:5px; overflow:hidden; }
.cbox06_m {background:url(images/gunbound/box06_m.gif) repeat-y; color:#6D6652; line-height:1.4; }
.cbox06_b {background:url(images/gunbound/box06_b.gif) no-repeat; height:5px; overflow:hidden; }

.waiting {background:url(images/gunbound/bg_waiting.gif) no-repeat center 0; height:116px; padding-top:76px; font-weight:bold; color:#807964; text-align:Center; margin:0 auto; }


/*guide*/
.ico_bora {background:url(images/gunbound/ico_bora.gif) 0 4px no-repeat;padding:0 0 0 8px;}
.p_ico_mo {background:url(images/gunbound/bu_arw01.gif) no-repeat 12px 4px; padding:0 0 0 21px;color:#42428A;height:20px;}
.p_ico_le {background:url(images/gunbound/bu_arw01.gif) no-repeat 0 4px; padding:0 0 0 10px;margin:15px 0 0 0;}
.p_ico_pl {background:url(images/gunbound/bu_arw01.gif) no-repeat 0 5px; padding:0 0 0 10px;margin:5px 0 5px 0;}
.ls {letter-spacing:-1px;}
.ln16p {line-height:16px;}