#tab_overflow{
	position:relative;
	width:475px;
	overflow:hidden;
}
#tab_container{
	position:relative;
	white-space:nowrap;
}
#tab_body_container{
	position:relative;
	overflow:hidden;
	width:475px;
}