BODY {	
	margin:0px;
	margin-bottom:0;
	margin-top:0;
	font-family: Arial;
	font-size:11px;
	line-height:100%;
	color: #000000;
	
}
legend {
color: #0000EE;
font: 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}

input {
color: #0000EE;
font: 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}

form {
 margin-top: 0;
 margin-bottom: 0;
}

ul , ol {
	display: inline;
    list-style-type: none;
	list-style-image: none;
	margin: 3px 0 0;
	padding: 0;
      
}
h2 {
    margin: 3px 1 1;
    display: inline;
}
.bold {
font: 12px  tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
text-decoration: bold;
}
li {
	margin: 3px 0 0 10px;
}
 li a:hover, li a:hover {
	color: #06c;
	text-decoration: none;
	}
	
.sort-table {
	font:		Icon;
	border:		1px Solid ThreeDShadow;
	background:	Window;
	color:		WindowText;
}

.sort-table thead {
	background:	ButtonFace;
}

.sort-table td {
	padding:	2px 5px;
	border-bottom: 1px solid;
    border-right: 1px solid;
}

.sort-table thead td {
	border:			1px solid;
	border-color:	ButtonHighlight ButtonShadow
					ButtonShadow ButtonHighlight;
	cursor:			hand;
}

.sort-table thead td:active {
	border-color:	ButtonShadow ButtonHighlight
					ButtonHighlight ButtonShadow;
	padding:		3px 4px 1px 6px;
}

.sort-table thead td[_sortType=None]:active {
	border-color:	ButtonHighlight ButtonShadow
					ButtonShadow ButtonHighlight;
	padding:		2px 5px;
}

.sort-arrow {
	width:					11px;
	height:					11px;
	background-position:	center center;
	background-repeat:		no-repeat;
	margin:					0 2px;
}

.sort-arrow.descending {
	background-image:		url("downsimple.png");

}

.sort-arrow.ascending {
	background-image:		url("upsimple.png");
}