
.left_menu_items a {border-bottom: none; }
.left_sub_menu_content a {position: relative;  position: relative; top: -83px;}
.left_sub_menu_top, .left_sub_menu_bottom {font-size: 0; line-height: 0;}
#guide_sections a {display: block; width: 329px; height: 191px; float: left; position: relative; margin: 3px;}