* {margin: 0; padding: 0;}
a img {border: 0;}
a:active {outline:none;}
a:focus {outline:none; -moz-outline-style:none;}
.clear {clear: both;}

p, div, td, li, input {font-family: arial; font-size: 12px; color: #252525;}
p {padding: 5px;}

/* STRUCTURE */
body, html {background-color: #fff; background-image: url('../images/body_bottom_bg.jpg'); background-position: bottom center; background-repeat: repeat-x;}

#wrapper {background-image: url('../images/body_bottom_visual.jpg'); background-position: bottom center; background-repeat: no-repeat;}
#wrapper2 {background-image: url('../images/top_visual.jpg'); background-position: top center; background-repeat: no-repeat;}
#page {width: 984px; margin-left: auto; margin-right: auto; min-height: 900px; height: auto !important; height: 900px;}
	#header {clear: both; height: 305px;}
	#login_main {width: 201px; float: left; padding:0 0 0 10px;}
    #login_container {margin-top: -180px;}
	#login img {margin-left: 9px; margin-top: 8px;}
	#login img.first {margin-top: 0px;}

	#content {}
		#left {width: 201px; float: left; padding:0 0 0 10px;}
		#right {float: right; width: 201px; padding:0 11px 0 0;}
#footer {clear: both; width: 984px; margin-left: auto; margin-right: auto; margin-top: 15px; height: 133px; padding:0 11px 0 10px;}
	#gala_logo {float: left;}
	#footer_links {color: #fff; font-size: 11px; float: left; padding-left: 15px; padding-top: 11px;}
	#footer_links a {color: #fff; text-decoration: none; padding-right: 3px; padding-left: 3px;}
	#footer_links a.first {padding-left: 0px;}
	#footer_links a:hover {color: #fff; text-decoration: underline;}

.column_box {}
	.column_box_top {width: 201px; height: 30px; background-image: url('../images/column_box_top.png'); background-position: top left; background-repeat: no-repeat;}
		.column_box_top img {margin-left: 11px; margin-top: 11px;}
	.column_box_content {width: 201px; background-image: url('../images/column_box_bg.png'); background-position: top left; background-repeat: repeat-y; } 
	.column_box_bottom {width: 201px; height: 14px; background-image: url('../images/column_box_bottom.png'); background-position: top left; background-repeat: no-repeat; font-size: 1px; line-height: 1px;}
	.column_box_sub {padding-top: 4px; padding-left: 4px;}	
		.column_box_sub_top {width: 193px; height: 10px; background-image: url('../images/column_box_sub_top.png'); background-position: top left; background-repeat: no-repeat; font-size: 1px; line-height: 1px;}
		.column_box_sub_content {width: 193px; background-image: url('../images/column_box_sub_bg.png'); background-position: top left; background-repeat: repeat-y;}
		.column_box_sub_bx1 {margin:0 auto; text-align:center; font-size:0;}
		.clumn_box_sub_bxnext {margin:0 auto; text-align:center; padding:10px 0 0 0; font-size:0;}
		.column_box_sub_bottom {width: 193px; height: 11px; background-image: url('../images/column_box_sub_bottom.png'); background-position: top left; background-repeat: no-repeat; font-size: 1px; line-height: 1px;}

.login_box {}
	.login_box_top {width: 300px; height: 30px; background-image: url('../images/login_box_top.png'); background-position: top left; background-repeat: no-repeat;}
		.login_box_top img {margin-left: 11px; margin-top: 11px;}
	.login_box_content {width: 300px; background-image: url('../images/login_box_bg.png'); background-position: top left; background-repeat: repeat-y; } 
	.login_box_bottom {width: 300px; height: 14px; background-image: url('../images/login_box_bottom.png'); background-position: top left; background-repeat: no-repeat; font-size: 1px; line-height: 1px;}
	.login_box_sub {padding-top: 4px; padding-left: 4px;}	
		.login_box_sub_top {width: 292px; height: 10px; background-image: url('../images/login_box_sub_top.png'); background-position: top left; background-repeat: no-repeat; font-size: 1px; line-height: 1px;}
		.login_box_sub_content {width: 292px; background-image: url('../images/login_box_sub_bg.png'); background-position: top left; background-repeat: repeat-y;}
		.login_box_sub_bx1 {margin:0 auto; text-align:center; font-size:0;}
		.login_box_sub_bxnext {margin:0 auto; text-align:center; padding:10px 0 0 0; font-size:0;}
		.login_box_sub_bottom {width: 292px; height: 11px; background-image: url('../images/login_box_sub_bottom.png'); background-position: top left; background-repeat: no-repeat; font-size: 1px; line-height: 1px;}


#content_full {width: 756px; float: left; margin-left: 6px; position: relative;}
	#content_full_top {height: 51px; background-image: url('../images/content_full_top.png'); background-position: top left; background-repeat: no-repeat;}
	#content_full_top h2 img {margin-top: 12px; margin-left: 15px;}
	#content_full_wrapper {background-image: url('../images/content_full_bg.png'); background-position: top left; background-repeat: repeat-y; position: relative;}
		#content_full_content {padding-left: 20px; padding-right: 20px; position: relative;}
	#content_full_bottom {height: 24px; background-image: url('../images/content_full_bottom.png'); background-position: top left; background-repeat: no-repeat;}
		
/***** columns *********/
#left_menu {margin-bottom: 10px;}
	#left_menu .column_box_content {margin-top: 0px;}
	#left_menu .column_box_top img {}
	.left_menu_items {padding-top: 3px;}
		.menu_divider {width: 184px; height: 1px; float: left; margin-left: 8px; display: inline; background-image: url('../images/column_menu_divider.png'); background-repeat: no-repeat; font-size: 0; line-height: 0; margin-bottom: 3px;}
		.left_menu_items a {display: block; position: relative; border-bottom: 1px solid transparent;} /* Opera Hack */
	.left_menu_items a  span {position: absolute; width: 194px; height: 34px; left: 0px; top: 0px; background-image: url('../images/column_menu_hover_bg.png'); background-repeat: no-repeat; background-position: 5px 0px; z-index: 1;}
	.left_menu_items img {display: block; margin-left: 5px; margin-top: 2px; clear: both; position: relative; z-index: 2; width: 190px; height: 34px; clear: left;}
	
	.left_sub_menu {margin-left: 5px; margin-top: 2px;}
		.left_sub_menu_top {width: 190px; height: 10px; background-image: url('../images/left_sub_menu_top.png'); background-repeat: no-repeat; }
		.left_sub_menu_content {width: 190px; background-image: url('../images/left_sub_menu_bg.png'); background-repeat: repeat-y; padding-top: 2px;}
			.left_sub_menu_content a {border: 0px; display: block; margin-left: 20px;}
			.left_sub_menu_content a img {width: 149px; height: 18px; display: block; margin-left: 0px;}
			.left_sub_menu_content .left_sub_menu_divider {width: 149px; height: 14px; background-repeat: no-repeat; background-image: url('../images/left_sub_menu_divider.png'); margin-left: 20px;}
		.left_sub_menu_bottom {width: 190px; height: 10px; background-image: url('../images/left_sub_menu_bottom.png'); background-repeat: no-repeat;}
	

#quicklinks {}
	#quicklinks .column_box_content a {display: block; margin-left: 5px; padding-top: 4px; }
#advertisements_container {margin-top: 10px;}
	#advertisements img {margin-left: 9px; margin-top: 8px;}
	#advertisements img.first {margin-top: 0px;}
#hotitems_column {}
	#hotitems {}
	#hotitems .item {width: 168px; margin-left: 11px; padding-top: 8px;}
	#hotitems .item img.hotitem_icon {float: left; margin-right: 8px;}
	#hotitems .item p {padding: 0px;}
	#hotitems .item p img {padding: 0px; display: block;}
	#hotitems .item h4 {color: #636363; font-size: 12px; padding: 0; margin: 0;}
	#hotitems .item span {color: #018c88; font-size: 12px;}
	#hotitems .first {margin-top: 0px;}
	
	#itemshop_coming {left: 9px;  position: relative;}

#column_screenshots {margin-top: 10px;}
	#screenshots_preview img { display: block; margin-left: 8px; margin-top: 8px;}
	#screenshots_preview img.first { margin-top: 0px;}
	
/***** Global gPotato Bar *****/
#gpotato_bar { height: 34px; background-image: url('../images/gpotato_bar/gpotato_bar_bg.jpg'); background-repeat: repeat-x; background-position: top center;}
	#gpotato_bar_content {width: 963px; margin-left: auto; margin-right: auto;}
	#gpotato_bar_content div { float: left; display: inline;}
	#gpotato_bar_logo {}
	#gpotato_bar_menu { padding-top: 8px; }
	#gpotato_bar_content #gpotato_bar_login { float: right; padding-top: 8px; text-align: right;}
		#gpotato_bar_login div { float: right; }
			#gpotato_bar_login_form div { float: left; }
				.gpotato_bar_login_input { margin-right: 8px;}
					.gpotato_bar_login_input input {color:#555555; font:normal 8pt Verdana; line-height:18px; border:1px #FF9933 solid;  width: 62px;}
				.gpotato_bar_login_label { color: #fff; padding-right:4px;}
			#gpotato_bar_welcome_logo {margin-right: 5px;}
			#gpotato_bar_welcome_message {color: #fff;}
			#gpotato_bar_logout_button {margin-left: 5px;}

/****** PAGES *****/

/*== MEDIA ==*/
	#media_intro {color: #555; font-size: 15px; border-bottom: 1px solid #d8d9d8; margin-left: 10px; margin-right: 10px; margin-bottom: 15px;}
	/* Screenshots */
	#screenshots {padding-top: 10px;}
		.screenshot {background-image: url('../../../modules/media/images/screenshot_bg.jpg'); background-position: top center; background-repeat: no-repeat; width: 202px; height: 205px; position: relative; margin-left: 26px; float: left; display: inline;}
		.screenshot img.screenshot_thumb {padding-left: 16px; padding-top: 16px;}
		.screenshot img.screenshot_view {width: 52px; height: 20px; margin-top: 17px; margin-left: auto; margin-right: auto; display: block;}
	/* Buddy Icons */
	#buddyicons {width: 656px; height: 375px; background-image: url('../../../modules/media/images/buddyicons_bg.jpg'); background-repeat: no-repeat; background-position: left top; margin-left: auto; margin-right: auto;}
		#buddyicons_container {padding-left: 40px; padding-top: 60px;}
		#buddyicons_container .buddyicon {width: 127px; height: 123px; background-image: url('../../../modules/media/images/buddyicon_bg.jpg'); background-repeat: no-repeat; background-position: left top; float: left; margin-right: 18px; margin-bottom: 10px; position: relative; }
		#buddyicons_container .buddyicon img {position: absolute; top: 15px; left: 15px;}
	.emoticons {width: 656px; height: 375px; background-image: url('../../../modules/media/images/emoticons_bg.jpg'); background-repeat: no-repeat; background-position: left top; margin-left: auto; margin-right: auto;}
	.emoticons#girls {background-image: url('../../../modules/media/images/emoticons_girls_bg.jpg'); height: 500px;}
		.emoticons_container {padding-left: 40px; padding-top: 60px;}
		.emoticons_container .emoticon {width: 78px; height: 72px; background-image: url('../../../modules/media/images/emoticon_bg.jpg'); background-repeat: no-repeat; background-position: left top; float: left; margin-right: 18px; margin-bottom: 10px; position: relative; }
		.emoticons_container .emoticon img {position: absolute; top: 11px; left: 14px;}
	/* Wallpapers */
	#wallpapers {}
		.wallpaper {background-image: url('../../../modules/media/images/wallpaper_bg.jpg'); background-position: top center; background-repeat: no-repeat; width: 200px; height: 214px; position: relative; margin-left: 26px; float: left; display: inline;}
		.wallpaper img.wallpaper_thumb  {padding-left: 15px; padding-top: 13px; width: 170px; height: 134px;}
		.wallpaper .wallpaper_sizes {text-align: center; margin-top: 20px;}
		
	/* Videos */
	#video {padding:0 44px 0 44px;}
	 .video_bx1 {padding:25px 0 25px 0;}
	 .video_bx11 {float:left; width:297px;}
	 .video_bx12 {float: left; width:300px; padding:10px 0 0 0;}
	 .video_title {color:#417e83; font-size:12pt; font-weight:bold; padding:0 0 10px 0;}
	 .video_desc {padding:0 0 10px 0;}
	 .video_play {background:url(../../../modules/media/video/btn_video_play.jpg) no-repeat; padding:0 0 0 17px; font-weight:bold;}
	 .video_play a:link {color:#417e83; text-decoration:none;}
	 .video_play a:visited {color:#417e83; text-decoration:none;}
	 .video_play a:hover {color:#417e83; text-decoration:underline;}
	 .video_line {background:url(../../../modules/media/video/line.gif) no-repeat; width:626px; height:1px; font-size:0;}
	
/*== COMMUNITY ==*/
	/* Twitter */
	#luna_tweets {border: 1px solid #c9c8c8; position: relative; width: 698px;}
		.tweet {padding: 10px; border-bottom: 1px solid #dbdcda; background-color: #f3f3f3; position: relative; width: 678px; }
		.tweet_off {background-color: #fafbf9;}
			.twitter_icon {width: 50px; height: 50px; display: block; float: left; border: 1px solid #dfdfdf; position: relative;}
			.twitter_text {padding-left: 65px; }
				.twitter_user {font-size: 13px; font-weight: bold; color: #252525;}
				.twitter_time {color: #578888; font-size: 10px;}
			.twitter_text p {padding-left: 0px; padding-right: 0px;}
			.twitter_actions {float: right; background-image: url('../../../modules/community/images/twitter_buttons_border_off.jpg'); background-repeat: no-repeat; background-position: left top; padding-left: 10px; padding-top: 2px;}
			.tweet_off .twitter_actions {background-image: url('../../../modules/community/images/twitter_buttons_border.jpg');}
				.twitter_follow {display: block; width: 51px; height: 21px; background-image: url('../../../modules/community/images/twitter_follow.gif'); background-repeat: no-repeat; background-position: left top; margin-bottom: 2px;}
				.twitter_reply {display: block; width: 51px; height: 21px; background-image: url('../../../modules/community/images/twitter_reply.gif'); background-repeat: no-repeat; background-position: left top;}
		#luna_tweets_nav {padding: 10px;}
			.twitter_newer {float: left;}
			.twitter_older {float: right;}

/***** MISC *****/
#comingsoon {text-align: center;}


/**** Game Section ****/
img.guide_image {display: block; margin-top: 10px; margin-bottom: 10px; width: 360px; margin-left: auto; margin-right: auto; border: 5px solid #ddd;}
img.guide_inline_image {margin: 5px; border: 5px solid #ddd;}
span.first_letter {font-size: 26px; color: #000; padding-right: 1px;}
/* img.guide_image {float: left; margin: 10px; margin-top: 5px; border: 5px solid #ddd;} */

	/**** GETTING STARTED ***/
	#gettingstarted_wrapper {padding-top: 15px; padding-bottom: 5px;}
	#gettingstarted_wrapper p {font-size: 14px; line-height: 19px;  width: 650px; text-align: left; margin-left: auto; margin-right: auto;}
	#gettingstarted_wrapper strong {font-weight: bold; color: #444;}
	#gettingstarted_wrapper p.intro {text-align: center; font-size: 15px;}
	#guide_image_tutorial {border: 0;}
	#gettingstarted_wrapper p.intro {text-align: center; font-size: 15px;}
	.gettingstarted_nav {padding: 10px; background-color: #6d9294; color: #fff;}
	.gettingstarted_nav div {color: #d8f0f1;}
	.gettingstarted_nav a {color: #fff;}
	.gettingstarted_nav_pages {float: left;}
	.gettingstarted_nav_next {float: right;}

	/**** GAME GUIDE ****/
	#guide_wrapper {padding-top: 5px; padding-bottom: 15px;}
	#guide_wrapper img.guide_image {width: auto;}
	#guide_wrapper h3 {background-color: #d7e5e4; margin: 5px; margin-top: 0px; padding: 10px; color: #000; font-size: 15px; font-weight: bold;}
	#guide_wrapper h4 {margin: 5px; margin-top: 15px; padding: 5px; color: #333; font-size: 25px; font-weight: bold;}
	#guide_wrapper h4 .subtitle {font-size: 16px; color: #6ca7b8;}
	#guide_wrapper h5 {color: #588988; font-size: 15px; font-weight: bold; padding: 5px; margin-top: 10px; margin-left: 5px; clear: both;}
	#guide_wrapper p {font-size: 14px; line-height: 19px;  width: 690px; text-align: left; margin-left: auto; margin-right: auto;}
	#guide_wrapper strong {font-weight: bold; color: #444;}
	#guide_wrapper p.intro {text-align: center; font-size: 15px;}
	#guide_wrapper dl {display: block; margin-left: 50px; margin-top: 10px;}
	#guide_wrapper dl dt, #guide_wrapper dl dd {float: left; clear: left; font-size: 13px; display: block;}
	#guide_wrapper dl dt {color: #477293; font-weight: bold; padding-bottom: 3px;}
	#guide_wrapper dl dd {margin-left: 10px; padding: 3px; }
	#guide_wrapper ul {margin-left: 30px;}
	#guide_wrapper ul li {font-size: 14px; padding: 3px;}
		#guide_sections {width: 682px; margin-left: auto; margin-right: auto; margin-top: 10px; position: relative;}
		#guide_sections a {display: block; width: 329px; height: 191px; float: left; position: relative; margin: 5px;}
		#guide_sections a img {position: absolute; left: 0px; top: 0px; z-index: 1;}
		#guide_sections a img.section_hover {z-index: 2; display: none;}
		#community_nav {width: 691px; height: 92px; margin-left: auto; margin-right: auto; background-image: url('../../../modules/game/images/community_nav_bg.jpg'); background-repeat: no-repeat; position: relative; padding-left: 5px;}
		#community_nav a {position: relative; width: 161px; height: 64px; top: 24px; display: block; float: left; margin-left: 13px;}
		#community_nav a div {display: none; position: absolute; left: 0px; top: 0px; width: 161px; height: 64px; background-repeat: no-repeat; background-image: url('../../../modules/game/images/community_nav_hovers.jpg');}
		#community_nav a.current_page div {display: block;}
			#community_nav a#community_nav_party {margin-left: 0px;}
			#community_nav_guild {}
			#community_nav_family {}
			#community_nav_dating {}
			#community_nav_party div {background-position: 0px 0px;}
			#community_nav_guild div {background-position: -174px 0px;}
			#community_nav_family div {background-position: -347px 0px;}
			#community_nav_dating div{background-position: -520px 0px;}
		#item_nav {width: 711px; height: 136px; margin-left: auto; margin-right: auto; background-image: url('../../../modules/game/images/item_nav_bg.jpg'); background-repeat: no-repeat; position: relative;}
		#item_nav_wrapper {padding-left: 10px;}
		#item_nav a {position: relative; width: 220px; height: 100px; top: 25px; display: block; float: left; margin-left: 15px;}
		#item_nav a div {display: none; position: absolute; left: 0px; top: 0px; width: 220px; height: 100px; background-repeat: no-repeat; background-image: url('../../../modules/game/images/item_nav_hovers.jpg');}
		#item_nav a.current_page div {display: block;}
			#item_nav a#item_nav_reinforcing {margin-left: 0px;}
			#item_nav_enchanting {}
			#item_nav_crafting {}
			#item_nav_reinforcing div {background-position: 0px 0px;}
			#item_nav_enchanting div {background-position: -220px 0px;}
			#item_nav_crafting div{background-position: -440px 0px;}
		#fishing_banner {display: block; margin-left: 3px;}
	#job_tree {margin-left: 2px; display: block;}



/* News  Section */
#news_wrapper {padding-left: 10px; padding-right: 10px; padding-top: 5px; padding-bottom: 15px;}
h3.news_subject {font-size: 14px; font-weight: bold; color: #000;}
h3.news_subject a {color: #000; text-decoration: none;}
h3.news_subject a:hover {color: #000; text-decoration: underline;}
h3.news_subject span.published_date {color: #205351; font-weight: normal; font-size: 12px;}
.news_content {font-size: 12px; color:#777; line-height: 16px; padding: 5px;}
.news_content ol {padding-left: 35px;}
.news_content ol li {list-style-type: decimal; padding-bottom: 4px;}
.news_content ul {padding-left: 35px;}
.news_content ul li {list-style-type: disc; padding-bottom: 4px;}

table.news_list {  margin-left: auto; margin-right: auto; clear: left; margin-top: 10px;}
table.news_list th { text-align: center; background-color: #4c8284; color: #fff; font-family: verdana; height: 20px; font-size: 11px;}
th.news_list_selected {width: 16px;}
th.news_list_no {width: 36px; text-align: center;}
th.news_list_subject {width: 463px;}
th.news_list_date {width: 172px;}
table.news_list td { height:26px; font-size: 11px; color:#666666; background: repeat-x bottom;  font-family: verdana; border-bottom: 1px dotted #ccc;}
table.news_list td a {text-decoration: none; color: #666;}
table.news_list td a:hover {text-decoration: underline; color: #000;}
tr.off td {background-color: #f7f7f7;}
tr.on td {background-color: #fff;}
td.news_list_selected {text-align: center;}
td.news_list_selected img {margin-left: 6px;}
td.news_list_no	 { text-align: center; }
td.news_list_subject	 { }
td.news_list_date {color:#888888; text-align: right; padding-right: 10px;}

.content_divider {border-top: 1px solid #ddd; clear:both; margin-top: 15px; margin-bottom: 15px;}

/* Pagination */
#pagination	 { margin-top:20px; height:11px; color:#a8a8a8; clear: both;	 text-align: center; padding-bottom: 22px; position: relative;}
	#pagination_wrapper { margin-left: auto; margin-right: auto; }
	.pagination_buttons	 { width: 40px; display: inline;}
	#pagination_pages	 { padding:0 4px 0 2px; display: inline;}
	#pagination_pages ul	 { display: inline; position: relative; top: -2px;}
	#pagination_pages li	 { display: inline; padding-left: 2px; padding-right: 2px; text-align:center; font-size :11px;}
	#pagination_pages li a	 {color:#a8a8a8;}
	#pagination_pages li a:hover {font-weight: bold; color:#606060;}


/* Update */
.center {margin:0 auto; text-align:center;}
.sub_title {color:#555; font-size:15px; padding:10px 10px 15px 10px; }
.download {}
.download p {margin:0 0 0 15px;}
.download_container_wrapper {margin:0 0 25px 43px;}
.download_container_top {width: 631px; height: 8px; background: url('../../../modules/download/images/downloads_container_top.gif'); font-size: 1px;}
.download_container_content {width: 631px; background-image: url('../../../modules/download/images/downloads_container_bg.gif'); background-repeat: repeat-y; text-align: center; padding-top: 8px; position: relative;}
.download_link {width: 139px; height: 55px; background: url('../../../modules/download/images/download_link_bg.gif') no-repeat; float: left; margin-left: 15px; display: inline; text-align: left; position: relative; margin-bottom: 8px;}
.download_link_info {text-align: left; padding-left: 41px; padding-top:13px; font-size: 12px; color: #fff; font-weight: bold;}
.download_link_info span {font-weight: bold; text-transform: uppercase; font-size: 8px; font-family: verdana; color: #baedee; display: block; padding-bottom: 2px;}
.download_link_info a, .patch_link_info a {color: #fff; text-decoration: none; text-transform: uppercase;}
.download_link_info a:hover, .patch_link_info a:hover {color: #fff; text-decoration: underline;}
.download_container_bottom {width: 631px; height: 8px; background: url('../../../modules/download/images/downloads_container_bottom.gif');font-size: 1px;}
.fdownload_link {width:249px; height:92px; text-align:center; margin:0 auto;}


table.sys_req {margin:0 0 10px 100px; width:510px; background-color:#13908c;}
	.sys_req td {background-color:#e1f3f3; padding:3px 10px 3px 10px;}
	.sys_req th {background-color:#64bdbd; color:#fff; padding:0 0 0 10px; height:20px; padding:3px 10px 3px 10px;}
	.sys_req th.col1 {width:130px;}
	.sys_req th.col2 {width:190px;}
	.sys_req th.col3 {width:190px;}
	.sys_req td.label {background-color:#64bdbd; color:#fff; font-weight:bold;}

/* Server Clock */
#server_clock_wrapper {margin:0 0 4px 0;}
#server_clock {width:201px; height:33px; background: url(../images/serverclock_bg.png) top left no-repeat; }
#clock_hour, #clock_min, #clock_meridian1, #clock_meridian2 {color:#f4f7f7; float:left; text-align:right; margin-top:9px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:13px;}
#clock_hour {width:62px;}
#clock_min {width:24px;}
#clock_meridian1 {width:28px;}
#clock_meridian2 {width:25px}